{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/movies.css' %}">

    <title>Movie List</title>
</head>
<body>
    <h1>Movie List</h1>
    {% if movies %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>opening crawl</th>
                <th>director</th>
                <th>producer</th>
                <th>release date</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                {% for ele in movie %}
                <td>{{ ele }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No data available</p>
    {% endif %}